# Modulo 1: Introduzione al coding
Importiamo dapprima le libraries/packages/modules che ci serviranno utilizzando lo **statement** "import":

```
# import [nome del pacchetto] as [shortcut]
```

In [ ]:
from numpy import array
import random as rd

# Parte A: L'unità base: il dato

Salvare i dati in memoria: la creazione di **variabili**.  Possiamo visualizzare il contenuto delle variabili create? Certo, con la funzione ` print()`.

In [ ]:
nome    = 'Federica'        # una stringa
print(nome)

Federica

I dati possono essere di svariati tipi, **stringhe, variabili numeriche, variabili logiche, liste.**

In [ ]:
eta     = 31              # una variabile numerica
print(eta)

31

In [ ]:
maggiorenne = eta>18        # una variabile logica
print(maggiorenne)

True

Alcune **funzioni** semplici:

1.   print()
2.   type()
3.   dir()

Come controlliamo che tipo di dato è contenuto in una determinata variabile? Con la funzione `type()`.

In [ ]:
type(nome)

str

In [ ]:
type(eta)

int

La nostra sessione di lavoro contiene adesso due variabili nuove, "nome" e "eta". Possiamo utilizzare la funzione `dir()` per visualizzare le variabili salvate in memoria.

In [ ]:
dir()

['In',
 'Out',
 '_',
 '_6',
 '_7',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'array',
 'eta',
 'exit',
 'get_ipython',
 'maggiorenne',
 'nome',
 'quit',
 'rd']

Proviamo a cancellare la variabile nome e a inoltrare nuovamente il comando `dir()`:

In [ ]:
del nome
dir()

['In',
 'Out',
 '_',
 '_6',
 '_7',
 '_8',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'array',
 'eta',
 'exit',
 'get_ipython',
 'maggiorenne',
 'quit',
 'rd']

Adesso vediamo come si crea una lista:

In [ ]:
mylist = ['Federica', 31]  
print(mylist)

['Federica', 31]

In [ ]:
print(mylist[0])            # esempio di indicizzazione

Federica

Delle liste "speciali" che ci consentono di eseguire delle operazioni matematiche sulle nostre variabili: le *arrays*.

In [ ]:
myarray = array([15,30])

print(myarray)
type(myarray)

[15 30]

numpy.ndarray

In [ ]:
myarray/2

array([ 7.5, 15. ])

In [ ]:
# Ops!
mynewlist = [15,30]
mynewlist/2

TypeError: ignored

Finora abbiamo visto alcune funzioni pre-definite. Proviamo adesso a crearne una noi!

In [ ]:
# Step 1: definisci la funzione
def myage(x):
    print("La mia età è", x)

Abbiamo creato una semplicissima funzione che "stampa" la frase "La mia età è [x]", laddove x è il **parametro** che passiamo alla funzione.

In [ ]:
# Step 2: applica la funzione
myage(31)

In [ ]:
# Step N: applicala quante volte vuoi!
myage(28)

I comandi condizionali sono quelli che prendono la forma `if [condizione soddisfatta] [fai A] else [fai B (opzionale)]`.

In [ ]:
if eta>18:
  maggiorenne = 1
else:
  maggiorenne = 0
print(maggiorenne)

1

# Parte B: Un insieme di dati: il database

Per la nostra analisi utilizzeremo il **database** *movies.csv*, contenente un insieme di attori/attrici vincitori di premio Oscar e i film che hanno fatto.

Per prima cosa, carichiamo la libreria che ci serve per aprire e manipolare il database, `pandas` 🐼 🐼. Successivamente, "leggiamo" il database con la funzione di pandas ```read_csv``` che accetta come input l'"indirizzo" del database, che può essere salvato sul computer oppure essere "ospitato" ad un determinato indirizzo sul web, come in questo caso. 

Carichiamo il database e lo memorizziamo all'interno della nostra sessione di lavoro con il nome "movies", che diventa quindi un'altra *variabile* salvata in memoria.

In [ ]:
import pandas as pd
movies = pd.read_csv('https://raw.githubusercontent.com/federicadaniele/PCTOcodingdatascience/main/Modulo1/movies.csv')
dir()

['In',
 'Out',
 '_',
 '_12',
 '_13',
 '_6',
 '_7',
 '_8',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'array',
 'eta',
 'exit',
 'get_ipython',
 'maggiorenne',
 'movies',
 'myage',
 'myarray',
 'mylist',
 'mynewlist',
 'pd',
 'quit',
 'rd']

Quali informazioni ci può interessare scoprire di questo dataset?


1.   Il nome e numero delle variabili (o colonne)
2.   Il numero di osservazioni (righe)
3.   Il tipo di ciascuna variabile (stringa, numerica, etc)
4.   Se ci sono alcuni dati mancanti

Per cominciare, il nome delle variabili di un database si ottiene con il comando ```.columns()``` applicato al tuo database.

In [ ]:
movies.columns

Index(['name', 'category', 'actbirthplace', 'actbirthyear', 'movietitle',
       'movieyear', 'titletype', 'genres'],
      dtype='object')

In [ ]:
print('Quante sono le variabili o colonne?')
len(movies.columns)

Quante sono le variabili o colonne?

8

In [ ]:
print('Quante sono le osservazioni o righe?')
len(movies)

Quante sono le osservazioni o righe?

7301

Se volessimo provare a usare l'indicizzazione e visualizzare soltanto alcune righe del database?

In [ ]:
print(movies.loc[0])

name                        Adrien Brody
category                           actor
actbirthplace                   New York
actbirthyear                        1973
movietitle          A Matador's Mistress
movieyear                         2008.0
titletype                          movie
genres           Biography,Drama,Romance
Name: 0, dtype: object

**⁉ Domanda ⁉ In questo database un'osservazione è data da cosa?**

Un altro modo per avere una panoramica veloce delle caratteristiche del database è quello di usare la funzione ```.info()```:

In [ ]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7301 entries, 0 to 7300
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           7301 non-null   object
 1   category       7301 non-null   object
 2   actbirthplace  7301 non-null   object
 3   actbirthyear   7301 non-null   int64
 4   movietitle     7301 non-null   object
 5   movieyear      7126 non-null   float64
 6   titletype      7301 non-null   object
 7   genres         7301 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 456.4+ KB

In [ ]:
print("Diamo una sbirciata ai dati adesso:")
movies.head(100)

Diamo una sbirciata ai dati adesso:

,name,category,actbirthplace,actbirthyear,movietitle,movieyear,titletype,genres
0,Adrien Brody,actor,New York,1973,A Matador's Mistress,2008.0,movie,"Biography,Drama,Romance"
1,Adrien Brody,actor,New York,1973,American Heist,2014.0,movie,"Action,Crime,Drama"
2,Adrien Brody,actor,New York,1973,Backtrack,2015.0,movie,"Drama,Fantasy,Mystery"
3,Adrien Brody,actor,New York,1973,Blonde,2021.0,movie,"Biography,Drama,Romance"
4,Adrien Brody,actor,New York,1973,Bread and Roses,2000.0,movie,Drama
...,...,...,...,...,...,...,...,...
95,Alec Guinness,actor,England,1914,A Run for Your Money,1949.0,movie,Comedy
96,Alec Guinness,actor,England,1914,All at Sea,1957.0,movie,Comedy
97,Alec Guinness,actor,England,1914,Cromwell,1970.0,movie,"Biography,Drama,History"
98,Alec Guinness,actor,England,1914,Damn the Defiant!,1962.0,movie,"Action,Drama,History"
99,Alec Guinness,actor,England,1914,Hitler: The Last Ten Days,1973.0,movie,"Biography,Drama,History"

In [ ]:
print("Quanti attori ci sono nel database?")
len(pd.unique(movies['name']))

Quanti attori ci sono nel database?

153

Non sempre i database contengono il dato per tutte le osservazioni/variabili. Ci possono essere delle "celle" mancanti, che si possono facilmente individuare con la funzione  ```.count()```:

In [ ]:
movies.count()

name             7301
category         7301
actbirthplace    7301
actbirthyear     7301
movietitle       7301
movieyear        7126
titletype        7301
genres           7301
dtype: int64

Manipoliamo un po' il database. Ricorda che è buona pratica prima di iniziare a cambiare il database, di salvarne una copia a parte, in modo da non perdere l'originale.
Proviamo per esempio a:
1.   Eliminare una variabile 
2.   Eliminare un'osservazione

Elimina una variabile: per esempio "category" dato che abbiamo un'altra variabile che ci dice il genere dell'attore/attrice. La funzione da ricordare è "drop".

In [ ]:
movies_copy = movies     
movies = movies.drop(columns='genres ')
movies.head(100)
# Ops! attenzione a scrivere correttamente il nome delle variabili!

KeyError: ignored

In [ ]:
movies = movies.drop(columns='genres')
movies.head(100)

,name,category,actbirthplace,actbirthyear,movietitle,movieyear,titletype
0,Adrien Brody,actor,New York,1973,A Matador's Mistress,2008.0,movie
1,Adrien Brody,actor,New York,1973,American Heist,2014.0,movie
2,Adrien Brody,actor,New York,1973,Backtrack,2015.0,movie
3,Adrien Brody,actor,New York,1973,Blonde,2021.0,movie
4,Adrien Brody,actor,New York,1973,Bread and Roses,2000.0,movie
...,...,...,...,...,...,...,...
95,Alec Guinness,actor,England,1914,A Run for Your Money,1949.0,movie
96,Alec Guinness,actor,England,1914,All at Sea,1957.0,movie
97,Alec Guinness,actor,England,1914,Cromwell,1970.0,movie
98,Alec Guinness,actor,England,1914,Damn the Defiant!,1962.0,movie
99,Alec Guinness,actor,England,1914,Hitler: The Last Ten Days,1973.0,movie

Adesso proviamo ad eliminare un gruppo di osservazioni, per esempio tutti gli attori che sono nati a New York. Il primo step consiste nel salvare in una variabile tutti gli indici delle righe corrispondenti agli attori nati a New York con la funzione `[database].index`
 
Quindi:
1. dapprima individuiamo tutte le righe del database che rispettano la "regola" che la città di nascita dell'attore corrispondente deve essere New York,
2. successivamente chiediamo di salvare in una variabile nuova l'indice di quelle righe.

In [ ]:
temp = movies_copy.loc[movies_copy['actbirthplace'] =="New York"].index
print(temp)

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            6743, 6744, 6745, 6746, 6747, 6748, 6749, 6750, 6751, 6752],
           dtype='int64', length=948)

A questo punto chiediamo di eliminare dal database tutte le osservazioni corrispondenti a quegli indici con la funzione `.drop`

In [ ]:
movies_copy = movies_copy.drop(movies_copy.loc[movies_copy['actbirthplace'] =="New York"].index)
movies_copy.head()

,name,category,actbirthplace,actbirthyear,movietitle,movieyear,titletype,genres
94,Alec Guinness,actor,England,1914,A Majority of One,1961.0,movie,"Comedy,Drama,Family"
95,Alec Guinness,actor,England,1914,A Run for Your Money,1949.0,movie,Comedy
96,Alec Guinness,actor,England,1914,All at Sea,1957.0,movie,Comedy
97,Alec Guinness,actor,England,1914,Cromwell,1970.0,movie,"Biography,Drama,History"
98,Alec Guinness,actor,England,1914,Damn the Defiant!,1962.0,movie,"Action,Drama,History"

![end.jpg]()